/* Img */

.img-cite-row {
  margin-top: 10px;
}

.img-well {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border: none;
}

.img-row {
  margin: auto;
}


/*
    Sizes
 */
.img-size-small {
  max-width: 45%;
}
.img-size-medium {
  max-width: 70%;
}

.img-size-large {
  max-width: 100%;
}

.img-size-inline {
  max-width: 50px;
}

.img-inline {
  display: flex;
  flex-flow: row nowrap;
}
/*
    Media Queries
 */
/* PHONE */
@media (max-width : 480px) {

}

/* TABLET */
@media (min-width : 481px) and (max-width : 1024px) {

}

/* DESKTOP & LAPTOP */
@media (min-width : 1025px) {

}
