/* Page */

body {
  background: rgb(40, 40, 40);
  color: white;
  padding: 0 10%;
}
header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.container {
  width: auto;
}
.green-text {
  color: #34E97C;
}
.header-title {
  margin-top: 0;
}
.header-image {
  max-width: 440px;
}
.heading-tags {
  clear: both;
  float: left;
}
.sudo-h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.1;
  color: aqua;
}

.sudo-h2 {
  font-size: 12px;
  line-height: 1.1;
  color: aqua;
}

.pokemon-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.content-wrapper {
  display: flex;
  flex-flow: row nowap;
  height: 80vh;
}

.pokemon-page {
  flex-grow: 9;
}

.pokemon-detail {
  flex-grow: 3;
}
